config:
  raw.lxc: |-
    lxc.aa_profile=unconfined
    lxc.cgroup.devices.allow = b 8:* rwm
    lxc.mount.auto=
    lxc.mount.auto=sys:rw proc:mixed cgroup:mixed
  security.privileged: "true"
devices:
  sda:
    path: /dev/sda
    type: unix-block
  sdb:
    path: /dev/sdb
    type: unix-block
  sdc:
    path: /dev/sdc
    type: unix-block
  sdd:
    path: /dev/sdd
    type: unix-block
